@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #3e3e3e;
    --foreground: #262626;
    --blackground: #1c1c1c;
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}


